.promo {
    min-height: 100vh;
    position: relative;
    padding-top: 205px;

    &__photo {
        width: 800px;
        position: absolute;
        right: 50px;
        top: 5%;

    }
  

    &__title {
        width: 535px;
        margin-top: 10px;
        margin-left: 9px;
        
    }

    &__subtitle {
        position: relative;
        padding-left: 10px;
        @include before_circle;
        z-index: 2;
        font-weight: 500;
        
    }

    &__btns {
        display: flex;
        height: 200px;
        width: 500px;
      align-items: center;
      justify-content: space-between;
     transform: translateY(-20%);

    }
    &__link {
        color: #000;
        font-weight: bold;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }

    .btn {
        background: #000;
        height: 45px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 12px 55px;
        color: #fff;
        border-radius: 50px;
        font-size: 18px;
        margin-top: 3px;
    }

        &-promo {
            height: 50px;
            padding: 12px 55px;
            width: 220px;
            color: #000;
            font-size: 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
            margin-top: 5px;  
        }
    }


